body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.app-container {
  text-align: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
}
